.charactristicEqContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  gap: 1rem;
  background-color: #ffaa5be0;
    
}

.charactristicEq {
    max-width: 700px;
    margin: 60px auto;
    padding: 20px;
    background-color: #FFF2DB;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    overflow-y: auto;
    max-height: 75%;
  }
  
  .charactristicEq h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .charactristicEq input[type="number"] {
    width: 50px;
    padding: 8px;
    margin-right: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
  }
  
  .charactristicEq span {
    font-size: 16px;
    margin-right: 10px;
  }
  
  .charactristicEq button {
    padding: 8px 16px;
    margin: 6px 4px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    background-color: #003092;
    color: #FFAB5B;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .charactristicEq button:hover,
  .clearButton:hover {
    background-color: #0056b3;
  }
  
  .charactristicEq .buttons {
    text-align: center;
    margin-top: 20px;
  }
  
  .clearButton {
    background-color: #003092;
    color: #FFAB5B;
    font-weight: 700;
    position: absolute;
    bottom: 10px;
    width: 200px;
    height: 50px;
    border-radius:30px ;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
  }

  

  .buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
