.queueNode{
    border: 2px solid  black;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(10, 57, 129,0.8);
    backdrop-filter: blur(30px);
    color: #fff;
}

.queueNode p{
    text-align: center;
    font-weight: 500;
}

.queueNode input{
    border-radius: 20px;
}