.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.controls{
  position: fixed;
  bottom: 10px;
  left:500px;
}

.results{
  position: fixed;
  bottom: 10px;
  left: 1000px;
  
}

.charactristicEqButton {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 300px;
  height: 50px;
  gap: 1rem;
  border: 5px solid #00879E;
  color: #00879E;
  font-size: 15px;
  font-weight: 700;
  border-radius: 30px;
  background-color: #FFAB5B;
  transition: background-color 0.3s ease;
}

.charactristicEqButton:hover {
  background-color: #f8cca3;
  transition: background-color 0.3s ease;
}

.slide-container {
  overflow: hidden;
  animation-duration: 0.4s;
  animation-fill-mode: both;
}

.slide-in {
  animation-name: slideIn;
}

.slide-out {
  animation-name: slideOut;
}

@keyframes slideIn {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 500px; /* adjust to expected height */
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    max-height: 500px;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}
